/*
THERE'S A THIN LINE BETWEEN SECTIONS ON MOBILE
IT MIGHT WORK TO ADD -1PX MARGIN AND 1PX PADDING to UP SECTIONS
IF IT BREAKS THE COLORS IT MUST BE CORRECTED IN THE BACKGROUND
*/



/* Root variables */
:root {
  --color-sky-01: #020111;
  --color-sky-02: #20202c;
  --color-sky-03: #515175;
  --color-sky-04: #7072ab;
  --color-sky-05: #eab0d1

}

/* Set general document properties */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

li {
  list-style: none;
}

/* TESTING BACKGROUND */

.welcome {
  width: 100%;
  height: 120vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-01) 50%,
    var(--color-sky-02) 100%
    );
  position: relative;
  overflow: hidden;
}

@keyframes move-background {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(1000px, 0px, 0px);
	}
}

.welcome__stars {
  background-image: url(/img/background/stars.png);
  background-color: transparent;
  background-position: 0 0;
  width:10000px;
	height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  animation: move-background 120s linear infinite;
}

.welcome__twinkling{
  background-image:
    radial-gradient(var(--color-sky-01) 5%, transparent 30%),
    radial-gradient(var(--color-sky-01) 5%, transparent 20%);
  background-color: transparent;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
	width:10000px;
	height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  animation: move-background 30s linear infinite;
}

.welcome__fade-stars {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--color-sky-02) 100%
    );
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.about {background-color: lavenderblush;
  width: 100%;
  height: 140vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-02) 0%,
    var(--color-sky-03) 100%
    );
  position: relative;
}

.carousel-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-03) 0%,
    var(--color-sky-04) 100%
    );
  position: relative;
}

.contact {
  width: 100%;
  height: 120vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-04) 0%,
    var(--color-sky-05) 100%
    );
  position: relative;
}

/* END TESTING BACKGROUND */

/* TESTING CAROUSEL */

/* DELETE SOME, CORRECT OTHERS */

.carousel {
  height: 60rem;
  width: 60%;
  margin: 0 auto;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  position: relative;
}

.carousel__btn {
  height: 3rem;
  width: 3rem;
  border: 0;
  background-color: black;
  position: absolute;
  cursor: pointer;
}

.carousel__slides-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  border: 4px solid lightskyblue;
  overflow: hidden;
}

.carousel__btn--backward {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--forward {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--play {
  right: 50%;
  bottom: 1rem;
  transform: translateX(50%);
}

.carousel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: left;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 0;
}

/* DELETE ALL */

.col1 {
  background-color: sandybrown;
  font-size: 10rem;
}

.col2 {
  background-color: aquamarine;
  font-size: 10rem;
}

.col3 {
  background-color: blueviolet;
  font-size: 10rem;
}

.col4 {
  background-color: greenyellow;
  font-size: 10rem;
}
/* TESTING CAROUSEL END */

/* TESTING PARALLAX */

.welcome__interaction {
  width: 40%;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 30%;
  top: 40vh;
  z-index: 3;
  transition: transform 100ms linear;
}

.y-offset-marker {
  width: auto;
  height: 40px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transition: transform 100ms linear;
}

/* END TESTING PARALLAX */
