/* Font import */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Root variables */
:root {
  --color-sky-01: #020111;
  --color-sky-02: #20202c;
  --color-sky-03: #515175;
  --color-sky-04: #7072ab;
  --color-sky-05: #eab0d1;
  --color-sky-05-opacity: rgba(234, 176, 209, 0.2);
  --color-sky-05-white: #ffe3f3;
  --color-sky-04-opacity: rgba(112, 114, 171, 0.4);
  --color-footer: #6F9A9E;
  --color-main-planet: #9540DB;
  --color-sat-skyblue: #35DBD3;
  --color-sat-yellow: #CEDB2A;
  --color-sat-orange: #DBA856;
  --color-sat-green: #2ADB6E;
  --color-sat-pink: #DB4BC2;
  --color-sat-shadow: rgba(91, 27, 143, 0.3)
}

/* Set general document properties */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}


section {
  width: 100vw;
  margin-bottom: -1px;
  position: relative;
  overflow-x: hidden;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* WELCOME SECTION */

/* BACKGROUND ANIMATION */

.welcome {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-01) 50%,
    var(--color-sky-02) 100%
    );
  overflow-y: hidden;
}

@keyframes move-background {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(1000px, 0px, 0px);
	}
}

.welcome__stars {
  background-image: url(/img/background/stars.png);
  background-color: transparent;
  background-position: 0 0;
  width:10000px;
	height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  animation: move-background 120s linear infinite;
}

.welcome__twinkling{
  background-image:
    radial-gradient(var(--color-sky-01) 5%, transparent 30%),
    radial-gradient(var(--color-sky-01) 5%, transparent 20%);
  background-color: transparent;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
	width:10000px;
	height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  animation: move-background 30s linear infinite;
}

.welcome__fade-stars {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--color-sky-02) 100%
    );
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@keyframes text-start {
  from {
		transform: translate3d(0px, 5vh, 0px);
    opacity: 0.2;
	}
	to {
		transform: translate3d(0px, 0px, 0px);
    opacity: 1;
	}
}

.welcome__title {
  position: relative;
  margin: 0 auto;
  margin-top: 35vh;
  z-index: 3;
  width: 50%;
  height: 8%;
  font-size: 10vw;
  animation: text-start 500ms ease-out;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 460px) {
  .welcome__title {
    width: 70%;
    font-size: 15vw;
  }
}

.welcome__title-parts {
  position: relative;
}

/* ABOUT SECTION */

.about {
  width: 100vw;
  height: 300vh;
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--color-sky-02) 0%,
    var(--color-sky-03) 100%
    );
  overflow: visible;
}

.about__intro-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about__title {
  position: absolute;
  top: 18vh;
  font-size: 7rem;
  width: 50%;
  left: 25%;
  text-align: center;
  opacity: 0;
}


.about__intro-text {
  position: absolute;
  font-size: 3rem;
  width: 50%;
  left: 25%;
  text-align: center;
  top: 50vh;
  opacity: 0;
}

.about__intro--relevant {
  font-weight: bolder;
}

@media (max-width: 900px) {
  .about__title,
  .about__intro-text {
    width: 70%;
    left: 15%;
  }
}

.about__sticky-planet-scrolling {
  width: 100vw;
  height: 200vh;
  position: relative;
  overflow: visible;
}

.about__sticky-planet-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.about__planet-group {
  margin-top: 20vh;
  width: 50vh;
  height: 50vh;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}

.about__main-planet {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-main-planet);
  z-index: 1;
}

.about__satellite {
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  z-index: 0;
  top: 30%;
  left: 30%;
  overflow: hidden;
}

.about--sat-1 {
  background-color: var(--color-sat-green);
}

.about--sat-2 {
  background-color: var(--color-sat-skyblue);
}

.about--sat-3 {
  background-color: var(--color-sat-pink);
}

.about--sat-4 {
  background-color: var(--color-sat-yellow);
}

@keyframes to-front {
  0%   {
    left: 30%;
    transform: scale(1);
    z-index: 0;
  }
  30%   {
    left: 125%;
    transform: scale(1.1);
    z-index: 0;
  }
  70%   {
    left: 125%;
    transform: scale(1.8);
    z-index: 2;
  }
  100%   {
    left: 30%;
    transform: scale(2);
    z-index: 2;
  }
}

@keyframes to-back {
  0%   {
    left: 30%;
    transform: scale(2);
    z-index: 2;
  }
  30%   {
    left: -65%;
    transform: scale(1.8);
    z-index: 2;
  }
  70%   {
    left: -65%;
    transform: scale(1.1);
    z-index: 0;
  }
  100%   {
    left: 30%;
    transform: scale(1);
    z-index: 0;
  }
}

.about--sat-in {
  animation: to-front;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.about--sat-out {
  animation: to-back;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.about__satellite-slide {
  position: relative;
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  transition: transform 400ms ease-out;
  background-color: transparent;
}

.about__satellite-slide:hover {
  transform: translateX(-50%);
}

.about__logo-container {
  position: relative;
  height: 100%;
  width: 50%;
  padding: 3%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__project-logo {
  max-width:100%;
  max-height:100%;
  position: relative;
  object-fit: contain;
}

.about__project-info {
  position: relative;
  height: 98%;
  width: 49%;
  margin: 1% 0.5% 1% 0.5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 50%;
  background-color: var(--color-sat-shadow);
}

.about__project-text {
  width: 80%;
  padding-top: 1rem;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 1rem;
}

.about__project-link {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  position: relative;
  padding: 0.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  transition: background 400ms ease-out;
}

.about__project-link:hover {
  font-size: bolder;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}


/* TRANSITION SECTION */

.transition {
  height: 380vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    var(--color-sky-03) 0%,
    var(--color-sky-04) 100%
    );
  position: relative;
  overflow: visible;
}

.transition__sticky-figure-scrolling {
  overflow: visible;
  position: relative;
  height: 150vh;
  width: 100%;
}

.transition__sticky-figure-container {
  height: 50vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.transition__figure {
  font-size: 10vw;
  width: 70%;
  text-align: center;
  position: relative;
  margin-top: 20vh;
}

.transition__figure-explanation {
  width: 50%;
  text-align: center;
  font-size: 3rem;
}

.transition__sticky-text-scrolling {
  overflow: visible;
  position: relative;
  height: 230vh;
  width: 100%;
}

.transition__sticky-text-container {
  height: 120vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.transition__paragraph {
  position: absolute;
  top: 15vh;
  left: 0;
  margin-left: 25%;
  width: 50%;
  height: auto;
  text-align: justify;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--color-sky-05-opacity);
}

.transition__first-quote-container {
  position: absolute;
  top: 100vh;
  left: 0;
  margin-left: 10%;
  width: 80vw;
}

.transition__first-quote-text {
  position: relative;
  text-align: center;
  width: auto;
  font-size: 3.5rem;
}

.transition__first-quote--relevant {
  display: inline-block;
}

.transition__first-quote-author,
.transition__second-quote-author {
  position: relative;
  width: 100%;
  font-weight: bold;
  text-align: right;
}

.transition__first-quote-author {
  padding-right: 15vw;
  margin-top: 3vh;
}

.transition__second-quote-container{
  position: absolute;
  top: 100vh;
  left: 0;
  margin-left: 40%;
  width: 59%;
  height: auto;
  border-radius: 1rem;
  background-color: var(--color-sky-05-opacity);
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.transition__second-quote-text {
  position: relative;
  width: 100%;
  height: auto;
  text-align: justify;
  font-style: italic;
  padding: 1rem;
}

.transition__second-quote-author {
  margin-top: 1vh;
}

@media (max-width: 600px) {
  .transition__figure-sticky-container {
    height: 30vh;
  }

  .transition__figure {
    font-size: 12vw;
    width: 85%;
  }

  .transition__figure-explanation {
    width: 85%;
    font-size: 2rem;
  }

  .transition__paragraph {
    width: 85%;
    margin-left: 7.5%
  }

  .transition__first-quote-container {
    width: 80vw;
    margin-left: 10%;
  }

  .transition__first-quote-author {
    padding-right: 5vw;
    width: 110%;
  }

  .transition__second-quote-container {
    width: 90vw;
    margin-left: 5%;
  }

}

@media (min-width: 1200px) {
  .transition__paragraph {
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  .transition__second-quote-container{
    margin-left: 49%;
    width: 35%;
  }
}

/* CAROUSEL SECTION */

/* CONTAINER */

.carousel-container {
  height: auto;
  padding-top: 15vh;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-04) 0%,
    var(--color-sky-05) 100%
    );
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carousel-container__title {
  width: 80%;
  height: auto;
  min-height: 8rem;
  z-index: 12;
  margin-bottom: 5vh;
}


/* CAROUSEL */

.carousel {
  background-image: url("/img/objects/zeppelin.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80vh;
  width: 95%;
  min-height: 60rem;
  max-height: 50vw;
  min-width: 100rem;
  position: relative;
  z-index: 10;
  align-self: flex-start;
}

.carousel__btn {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  cursor: pointer;
}

.carousel__btn--backward {
  left: 15%;
  top: 41%;
  transform: translate3D(-50%, -50%, 0);

}

.carousel__btn--forward {
  left: 68%;
  top: 41%;
  transform: translate3D(-50%, -50%, 0);
}

.carousel__btn--play {
  left: 41.5%;
  top: 68%;
  transform: translateX(-50%);
}

.carousel__slides-container {
  width: 45%;
  height: 50%;
  min-height: 25rem;
  position: relative;
  left: 19%;
  top: 16%;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .carousel__slides-container {
    height: 40%;
    width: 45%;
    left: 20%;
    top: 22%;
  }
  .carousel__btn {
    height: 6rem;
    width: 6rem;
  }

  .carousel__btn--backward {
    left: 16%;
    top: 42%;
    transform: translate3D(-50%, -50%, 0);

  }

  .carousel__btn--forward {
    left: 69%;
    top: 42%;
    transform: translate3D(-50%, -50%, 0);
  }

  .carousel__btn--play {
    left: 42.5%;
    top: 65%;
    transform: translateX(-50%);
  }
}

@media (max-width: 750px) {
  .carousel__slides-container {
    left: 12%;
  }

  .carousel__btn--backward,
  .carousel__btn--forward,
  .carousel__btn--play {
    transform: translate3D(-100px, -50%, 0);
  }

  .carousel__btn--play {
    transform: translate3D(-100px, 0, 0);
  }
}

@media (max-width: 600px) {
  .carousel {
    height: 70vh;
    min-height: 0;
    max-height: 100vh;
    min-width: 0;
    align-self: center;
    background-image: image();
  }

  .carousel__slides-container {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .carousel-container__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5vh;
    min-height: 15vh;
  }

  .carousel__btn {
    height: 4rem;
    width: 4rem;
    z-index: 10;
  }

  .carousel__btn--backward {
    left: 10%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);

  }

  .carousel__btn--forward {
    top: 50%;
    left: 90%;
    transform: translate3D(-50%, -50%, 0);
  }

  .carousel__btn--play {
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }
}

.carousel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: left;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* SLIDES CONTENT */

.carousel__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.carousel__slide-footer {
  width: 100%;
  height: 20%;
  background-color: black;
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.carousel__slide-title {
  color: white;
  height: 100%;
  width: 100%;
  padding: 1rem;
  position: relative;
  text-align: center;
  opacity: 1;
}

.carousel__slide-btn {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.carousel__slide-btn:hover {
  opacity: 1;
}

/* CONTACT SECTION */

.contact {
  height: 160vh;
  background-color: var(--color-sky-05);
  position: relative;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact__text {
  max-width: 50%;
  height: auto;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--color-sky-04-opacity);
  text-align: center;
}

@media (max-width: 600px) {
  .contact__text {
    max-width: 80%;
  }
}

.contact__subtitle {
  margin-top: 1.5rem;
  font-style: italic;
}

.contact__flex-container {
  margin-top: 5vh;
  width: 100%;
  position: relative;
}

.contact__flex {
  min-width: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contact__link {
  min-width: 20rem;
  height: 5rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  margin: 1rem;
  background: white;
  color: black;
  transition: background 400ms ease-out;
}

.contact__link:hover {
  color: white;
  background: var(--color-sky-04-opacity);
  border: 2px solid var(--color-sky-04);
  font-weight: bold;
}

.contact__link--wa-mobile,
.contact__link--wa-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.contact__link--wa-desktop {
  z-index: 1;
  visibility: visible;
}

.contact__link--wa-mobile {
  z-index: 0;
  visibility: hidden;
}

@media (max-width: 500px) {
  .contact__link--wa-desktop {
    z-index: 0;
    visibility: hidden;
  }

  .contact__link--wa-mobile {
    z-index: 1;
    visibility: visible;
  }
}

/* Footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  background-color: var(--color-footer);
  color: white;
  text-align: right;
  padding-right: 4rem;
  padding-top: 2rem;
}


/* TEST OBJECTS - DELETE*/

.y-offset-marker {
  width: auto;
  max-width: 25vw;
  height: 40px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 10;
  overflow: hidden;
}
