/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@100;400;700&display=swap');


/* ROOT VARIABLES */

:root {
  --color-sky-01: #020111;
  --color-sky-02: #20202c;
  --color-sky-03: #515175;
  --color-sky-04: #7072ab;
  --color-sky-05: #eab0d1;
  --color-sky-04-opacity: rgba(112, 114, 171, 0.4);
  --color-footer: #6F9A9E;
}

/* GENERAL DOCUMENT PROPERTIES */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 10px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-height: 600px) {
  html {
    font-size: 8px;
  }
}

body {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

main {
  position: relative;
}

header, article {
  width: 100vw;
  margin-bottom: -1px;
  position: relative;
  overflow-x: hidden;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


/* BACKGROUND ANIMATION */

.welcome {
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(
    to bottom,
    var(--color-sky-01) 50%,
    var(--color-sky-02) 100%
    );
}

.about {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow: visible;
  background: linear-gradient(
    to bottom,
    var(--color-sky-02) 0%,
    var(--color-sky-03) 100%
    );
}

.transition {
  position: relative;
  height: 200vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    var(--color-sky-03) 0%,
    var(--color-sky-04) 100%
    );
  overflow: visible;
}

.transition__sticky-figure-scrolling {
  position: relative;
  height: 150vh;
  width: 100%;
  overflow: visible;
}

.transition__sticky-figure-container {
  position: sticky;
  top: 0;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.transition__cloud-1,
.transition__cloud-2,
.transition__cloud-3 {
  position: absolute;
}

.transition__cloud-1 {
  top: 13vh;
  left: 20vw;
  width: 35vw;
}

.transition__cloud-2 {
  top: 20vh;
  left: 50vw;
  width: 35vw;
}

.transition__cloud-3 {
  top: 35vh;
  left: 40vw;
  width: 20vw;
}

@media (max-width: 800px) {
  .transition__cloud-1 {
    top: 5vh;
    left: 15vw;
  }
  .transition__cloud-2 {
    top: 15vh;
    left: 55vw;
  }
  .transition__cloud-3 {
    top: 20vh;
    left: 30vw;
  }
}

@media (max-width: 600px) {
  .transition__cloud-1 {
    top: 15vh;
    left: 15vw;
  }
  .transition__cloud-2 {
    top: 20vh;
    left: 60vw;
  }
  .transition__cloud-3 {
    top: 32vh;
    left: 30vw;
  }
}

@media (max-width: 450px) {
  .transition__cloud-1 {
    top: 30vh;
  }
  .transition__cloud-2 {
    top: 35vh;
  }
  .transition__cloud-3 {
    top: 45vh;
    left: 30vw;
  }
}

@media (max-height: 450px) {
.transition__cloud-1 {
    top: 10vh;
    left: 15vw;
  }
  .transition__cloud-2 {
    left: 60vw;
  }
  .transition__cloud-3 {
    left: 20vw;
  }
  .transition {
    height: 470vh;
  }
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
  background: linear-gradient(
    to bottom,
    var(--color-sky-04) 0%,
    var(--color-sky-05) 100%
    );
}

.contact {
  position: relative;
  width: 100%;
  height: 155vh;
  padding-top: 15vh;
  overflow: visible;
  background-color: var(--color-sky-05);
}

/* FOOTER*/

.footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  padding-right: 4rem;
  padding-top: 2rem;
  overflow-x: hidden;
  text-align: right;
  color: white;
  background-color: transparent;
  background-image: url('/img/footer.png');
  background-size: auto 40vh;
  background-repeat: repeat-x;
  background-position: center;
}

.footer__link {
  position: relative;
  z-index: 10;
  padding-right: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer__coral {
  position: absolute;
  bottom: 11%;
  height: 30%;
  width: auto;
}

.footer--coral-1 {
  left: 40%;
}

.footer--coral-2 {
  left: 75%;
}

.footer__jellyfish-container {
  position: absolute;
  top: 30%;
  left: 105%;
  height: 8vh;
  width: auto;
  animation: swim-left 15s linear infinite;
}

.footer__jellyfish {
  max-height: 100%;
  object-fit: contain;
}

.footer__jellyfish {
  animation: swim-jump 1s linear infinite;
}


@keyframes swim-left {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(-120vw, 0px, 0px);
	}
}


@keyframes swim-jump {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(0px, 2vh, 0px);
	}
}

@media (max-height: 450px) {
  .footer {
    z-index: 0;
    padding-right: 1rem;
  }
}

@media (max-width: 800px) {
  .footer--coral-2 {
    opacity: 0;
  }
}

@media (max-width: 450px) {
  .footer {
    padding-right: 1rem;
    z-index: 0;
  }
}


/* UNEXPECTED ELEMENTS */

.unexpected__whale-container {
  position: fixed;
  top: 10vh;
  left: 8vw;
  width: 4vw;
  height: 4vw;
  z-index: 2;
  opacity: 0;
}

.unexpected__flower-container {
  position: fixed;
  top: 3vh;
  left: 7.5vw;
  width: 1vw;
  height: 1vw;
  z-index: 2;
  opacity: 0;
}

.unexpected__flower,
.unexpected__whale {
  object-fit: contain;
  object-position: bottom;
  max-width: 100%;
  opacity: 0.15;
}

@media (max-width: 1000px) {
  .unexpected__flower-container {
    top: 10vh;
  }
  .unexpected__whale-container {
    top: 15vh;
  }
}

@media (max-width: 600px) {
  .unexpected__flower-container {
    width: 2vw;
    height: 2vw;
    top: 10vh;
  }
  .unexpected__whale-container {
    width: 6vw;
    height: 6vw;
    top: 15vh;
  }
}

@media (max-width: 450px) {
  .unexpected__flower-container {
    width: 2vw;
    height: 2vw;
    top: 10.5vh;
  }
  .unexpected__whale-container {
    width: 7vw;
    height: 7vw;
    top: 15vh;
  }
}

@media (max-height: 450px) {
  .unexpected__flower-container {
    top: 2vh;
  }
}
