/* Font import */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Root variables */
:root {
  --color-sky-01: #020111;
  --color-sky-02: #20202c;
  --color-sky-03: #515175;
  --color-sky-04: #7072ab;
  --color-sky-05: #eab0d1;
  --color-sky-05-opacity: rgba(234, 176, 209, 0.2);
  --color-sky-05-white: #ffe3f3;
  --color-sky-04-opacity: rgba(112, 114, 171, 0.4);
  --color-footer: #6F9A9E;
}

/* Set general document properties */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}


section {
  width: 100vw;
  margin-bottom: -1px;
  padding-top: 10vh;
  position: relative;
  overflow-x: hidden;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* WELCOME SECTION */

/* BACKGROUND ANIMATION */

.welcome {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-01) 50%,
    var(--color-sky-02) 100%
    );
}

@keyframes move-background {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(1000px, 0px, 0px);
	}
}

.welcome__stars {
  background-image: url(/img/background/stars.png);
  background-color: transparent;
  background-position: 0 0;
  width:10000px;
	height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  animation: move-background 120s linear infinite;
}

.welcome__twinkling{
  background-image:
    radial-gradient(var(--color-sky-01) 5%, transparent 30%),
    radial-gradient(var(--color-sky-01) 5%, transparent 20%);
  background-color: transparent;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
	width:10000px;
	height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  animation: move-background 30s linear infinite;
}

.welcome__fade-stars {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--color-sky-02) 100%
    );
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@keyframes text-start {
  from {
		transform: translate3d(0px, 5vh, 0px);
    opacity: 0.2;
	}
	to {
		transform: translate3d(0px, 0px, 0px);
    opacity: 1;
	}
}

.welcome__title {
  position: relative;
  margin: 0 auto;
  margin-top: 25vh;
  z-index: 3;
  width: 50%;
  height: 8%;
  font-size: 10vw;
  animation: text-start 500ms ease-out;
  animation-fill-mode: forwards;
}

@media (max-width: 460px) {
  .welcome__title {
    width: 70%;
    font-size: 15vw;
  }
}

.welcome__title-parts {
  position: absolute;
}

.char-h {
  top: 0;
  left: 0;
}

.char-o {
  top: 0;
  left: 25%;
}

.char-l {
  top: 0;
  left: 50%;
}

.char-a {
  top: 0;
  left: 75%;
}

/* ABOUT SECTION */

.about {
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-02) 0%,
    var(--color-sky-03) 100%
    );
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__title {
  position: relative;
  font-size: 7rem;
  max-width: 50%;
  margin: 5rem;
}


.about__intro {
  position: relative;
  font-size: 3rem;
  max-width: 50%;
  margin: 2rem;
  text-align: justify;
}

@media (max-width: 900px) {
  .about__title {
    max-width: 70%;
  }

  .about__intro {
    max-width: 70%;
  }
}

.about__projects-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(37rem, 1fr);
  grid-gap: 4rem;
  width: 80%;
  height: auto;
  margin: 3rem;
}

.about__project-tile {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid pink;
}

.about__project-logo {
  width: 100%;
  max-width:100%;
  max-height:100%;
  padding: 10%;
  z-index: 1;
  position: relative;
}

.about__project-description {
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  padding: 3rem;
  background-color: var(--color-sky-05-white);
  opacity: 0;
  z-index: 2;
  transition: opacity 700ms ease-out;
  position: absolute;
  top: 0;
  left: 0;
}

.about__project-description:hover {
  opacity: 1;
  border: 6px solid var(--color-sky-05);
}

.about__btn {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 4rem;
  margin: 3rem;
  background: white;
  color: black;
  transition: background 400ms ease-out;
}

.about__btn:hover {
  color: white;
  background: var(--color-sky-05-opacity);
  border: 2px solid var(--color-sky-05);
  font-weight: bold;
}

/* TRANSITION SECTION */

.transition {
  min-height: 130  vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-03) 0%,
    var(--color-sky-04) 100%
    );
  position: relative;
  overflow-x: hidden;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.transition__figure {
  font-size: 6vw;
  max-width: 50%;
}

.transition__figure-explanation {
  max-width: 50%;
  text-align: justify;
}

.transition__paragraph {
  max-width: 50%;
  height: auto;
  text-align: justify;
  padding: 3rem;
  margin-top: 10vh;
  border-radius: 1rem;
  background-color: var(--color-sky-05-opacity);
}

.transition__second-quote-text,
.transition__first-quote {
  width: 50vw;
  text-align: justify;
  font-style: italic;
}

.transition__first-quote {
  font-size: 3.5rem;
  padding: 1.5rem;
  margin-top: 10vh;
}

.transition__second-quote-author,
.transition__first-quote-author {
  width: 50vw;
  text-align: right;
  font-weight: bold;
}

.transition__first-quote-author {
  margin-top: 1.5vh;
}

.transition__second-quote {
  height: auto;
  padding: 3rem;
  margin-top: 10vh;
  border-radius: 1rem;
  background-color: var(--color-sky-05-opacity);
}

.transition__second-quote-author {
  margin-top: 5vh;
}

@media (max-width: 600px) {
  .transition__figure {
    font-size: 12vw;
    max-width: 85%;
  }

  .transition__figure-explanation {
    max-width: 85%;
  }

  .transition__paragraph {
    max-width: 85%;
  }

  .transition__second-quote-author,
  .transition__first-quote-author,
  .transition__second-quote-text,
  .transition__first-quote {
    width: 80vw;
  }
}


/* CAROUSEL SECTION */

/* CONTAINER */

.carousel-container {
  height: auto;
  padding-top: 15vh;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-04) 0%,
    var(--color-sky-05) 100%
    );
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carousel-container__title {
  width: 80%;
  height: auto;
  min-height: 8rem;
  z-index: 12;
  margin-bottom: 5vh;
}


/* CAROUSEL */

.carousel {
  background-image: url("/img/objects/zeppelin.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80vh;
  width: 95%;
  min-height: 60rem;
  max-height: 50vw;
  min-width: 100rem;
  position: relative;
  z-index: 10;
  align-self: flex-start;
}

.carousel__btn {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: purple;
  position: absolute;
  cursor: pointer;
}

.carousel__btn--backward {
  left: 15%;
  top: 41%;
  transform: translate3D(-50%, -50%, 0);

}

.carousel__btn--forward {
  left: 68%;
  top: 41%;
  transform: translate3D(-50%, -50%, 0);
}

.carousel__btn--play {
  left: 41.5%;
  top: 68%;
  transform: translateX(-50%);
}

.carousel__slides-container {
  width: 45%;
  height: 50%;
  min-height: 25rem;
  position: relative;
  left: 19%;
  top: 16%;
  border-radius: 3rem;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .carousel__slides-container {
    height: 40%;
    width: 45%;
    left: 20%;
    top: 22%;
  }
  .carousel__btn {
    height: 6rem;
    width: 6rem;
  }

  .carousel__btn--backward {
    left: 16%;
    top: 42%;
    transform: translate3D(-50%, -50%, 0);

  }

  .carousel__btn--forward {
    left: 69%;
    top: 42%;
    transform: translate3D(-50%, -50%, 0);
  }

  .carousel__btn--play {
    left: 42.5%;
    top: 65%;
    transform: translateX(-50%);
  }
}

@media (max-width: 750px) {
  .carousel__slides-container {
    left: 12%;
  }

  .carousel__btn--backward,
  .carousel__btn--forward,
  .carousel__btn--play {
    transform: translate3D(-100px, -50%, 0);
  }

  .carousel__btn--play {
    transform: translate3D(-100px, 0, 0);
  }
}

@media (max-width: 600px) {
  .carousel {
    height: 70vh;
    min-height: 0;
    max-height: 100vh;
    min-width: 0;
    align-self: center;
    background-image: image();
  }

  .carousel__slides-container {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .carousel-container__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5vh;
    min-height: 15vh;
  }

  .carousel__btn {
    height: 4rem;
    width: 4rem;
    z-index: 10;
  }

  .carousel__btn--backward {
    left: 10%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);

  }

  .carousel__btn--forward {
    top: 50%;
    left: 90%;
    transform: translate3D(-50%, -50%, 0);
  }

  .carousel__btn--play {
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }
}

.carousel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: left;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* SLIDES CONTENT */

.carousel__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.carousel__slide-footer {
  width: 100%;
  height: 20%;
  background-color: black;
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.carousel__slide-title {
  color: white;
  height: 100%;
  width: 100%;
  padding: 1rem;
  position: relative;
  text-align: center;
  opacity: 1;
}

.carousel__slide-btn {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.carousel__slide-btn:hover {
  opacity: 1;
}

/* CONTACT SECTION */

.contact {
  height: 160vh;
  background-color: var(--color-sky-05);
  position: relative;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact__text {
  max-width: 50%;
  height: auto;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--color-sky-04-opacity);
  text-align: center;
}

@media (max-width: 600px) {
  .contact__text {
    max-width: 80%;
  }
}

.contact__subtitle {
  margin-top: 1.5rem;
  font-style: italic;
}

.contact__flex-container {
  margin-top: 5vh;
  width: 100%;
  position: relative;
}

.contact__flex {
  min-width: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contact__link {
  min-width: 20rem;
  height: 5rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  margin: 1rem;
  background: white;
  color: black;
  transition: background 400ms ease-out;
}

.contact__link:hover {
  color: white;
  background: var(--color-sky-04-opacity);
  border: 2px solid var(--color-sky-04);
  font-weight: bold;
}

.contact__link--wa-mobile,
.contact__link--wa-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.contact__link--wa-desktop {
  z-index: 1;
  visibility: visible;
}

.contact__link--wa-mobile {
  z-index: 0;
  visibility: hidden;
}

@media (max-width: 500px) {
  .contact__link--wa-desktop {
    z-index: 0;
    visibility: hidden;
  }

  .contact__link--wa-mobile {
    z-index: 1;
    visibility: visible;
  }
}

/* Footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  background-color: var(--color-footer);
  color: white;
  text-align: right;
  padding-right: 4rem;
  padding-top: 2rem;
}

/* PARALLAX PROPERTIES*/

.p--move {
  transition: transform 100ms linear;
}

.p--move--container {
  position: relative;
}

.p--grow {

}

.p--grow--container {
  overflow: hidden;
}


/* DELETE OFFSET*/

.y-offset-marker {
  width: auto;
  max-width: 25vw;
  height: 40px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

/* .welcome__interaction {
  width: 40%;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 10%;
  top: 40rem;
  z-index: 3;
}



.test-fade {
  width: 100%;
  height: 250px;
  font-size: 30px;
  position: relative;
  text-align: center;
  padding-top: 1px;
  margin-bottom: 50px;
}

.test-fade__out,
.test-fade__in {
  width: 70%;
  margin: 30px auto;
  height: 50px;
  border: 1px solid white;
  color: white;
  position: relative;
  top: 0;
}

.test-grow {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.test-grow__limit-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid white;
}

.test-grow__element {
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
} */
