/* EDITING */

/* Font import */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Press+Start+2P&display=swap');

/* Root variables */
:root {
  --color-sky-01: #020111;
  --color-sky-02: #20202c;
  --color-sky-03: #515175;
  --color-sky-04: #7072ab;
  --color-sky-05: #eab0d1;
  --color-sky-05-opacity: rgba(234, 176, 209, 0.2);
  --color-sky-05-white: #ffe3f3;
  --color-sky-04-opacity: rgba(112, 114, 171, 0.4);
  --color-footer: #6F9A9E;
  --color-main-planet: #8561E8;
  --color-main-shine: #B8A7E8;
  --color-sat-1: #7C709C;
  --color-sat-2: #6348AC;
  --color-sat-3: #9778B3;
  --color-sat-4: #7180A8;
  --color-arcade-text: #dfdff9;
  --color-arcade-hover: #fff0c0;
}

/* Set general document properties */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 10px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}


section {
  width: 100vw;
  margin-bottom: -1px;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, p, a, li, div, button {
  z-index: 2;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
a:active,
a:focus,
button,
button:active,
button:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

/* WELCOME SECTION */

/* BACKGROUND ANIMATION */

.welcome {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-sky-01) 50%,
    var(--color-sky-02) 100%
    );
  overflow-y: hidden;
}

@keyframes move-background {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(1000px, 0px, 0px);
	}
}

.welcome__stars {
  background-image: url(/img/background/stars.png);
  background-color: transparent;
  background-position: 0 0;
  width:10000px;
	height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  animation: move-background 120s linear infinite;
}

.welcome__twinkling{
  background-image:
    radial-gradient(var(--color-sky-01) 5%, transparent 30%),
    radial-gradient(var(--color-sky-01) 5%, transparent 20%);
  background-color: transparent;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
	width:10000px;
	height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  animation: move-background 30s linear infinite;
}

.welcome__fade-stars {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--color-sky-02) 100%
    );
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@keyframes text-start {
  from {
		transform: translate3d(0px, 5vh, 0px);
    opacity: 0.2;
	}
	to {
		transform: translate3d(0px, 0px, 0px);
    opacity: 1;
	}
}

.welcome__title {
  position: relative;
  margin: 0 auto;
  margin-top: 35vh;
  z-index: 3;
  width: 50%;
  height: 8%;
  font-size: 10vw;
  font-weight: 100;
  animation: text-start 500ms ease-out;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .welcome__title {
    width: 70%;
    font-size: 15vw;
  }
}

@media (max-height: 450px) {
  .welcome__title {
    margin-top: 40vh;
  }
}

.welcome__title-parts {
  position: relative;
  margin: 0 1vw 0 1vw;
}

/* ABOUT SECTION */

/* INTRO */

.about {
  width: 100vw;
  height: 450vh;
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--color-sky-02) 0%,
    var(--color-sky-03) 100%
    );
  overflow: visible;
}

.about__intro-container {
  width: 100%;
  height: 150vh;
  position: relative;
}

.about__title {
  position: absolute;
  top: 18vh;
  font-size: 7rem;
  font-weight: 400;
  width: 50%;
  left: 25%;
  text-align: center;
  opacity: 0;
}


.about__intro-text {
  position: absolute;
  font-size: 3rem;
  width: 50%;
  left: 25%;
  text-align: center;
  top: 100vh;
  opacity: 0;
}

.about__intro--relevant {
  font-weight: 700;
}

@media (max-width: 900px) {
  .about__title,
  .about__intro-text {
    width: 70%;
    left: 15%;
  }
}

@media (max-width: 500px) {
  .about__title,
  .about__intro-text {
    width: 90%;
    left: 5%;
  }
}

/* PLANET STRUCTURE */

.about__sticky-planet-scrolling {
  width: 100vw;
  height: 300vh;
  position: relative;
  overflow: visible;
}

.about__sticky-planet-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about__planet-group {
  margin-top: 20vh;
  width: 50vh;
  height: 50vh;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}

.about__main-planet {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
      circle at 35% 35%,
      var(--color-main-shine),
      var(--color-main-planet) 50%
      );
  box-shadow: 0 0 3rem var(--color-main-shine);
  border: 6px solid var(--color-main-shine);
  z-index: 1;
}

.about__satellite {
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  z-index: 0;
  top: 30%;
  left: 30%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.02);
}

/* ORBITS */

.about--sat-1 {
  background-color: var(--color-sat-1);
}

@keyframes to-front-1 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
  30%   {
    left: 108%;
    top: -32%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  70%   {
    left: 108%;
    top: -32%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
}

@keyframes to-back-1 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
  30%   {
    left: -56%;
    top: 62%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  70%   {
    left: -56%;
    top: 62%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
}

.about--sat-1-in {
  animation: to-front-1;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.about--sat-1-out {
  animation: to-back-1;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.about--sat-2 {
  background-color: var(--color-sat-2);
}

@keyframes to-front-2 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
  30%   {
    left: -62%;
    top: -16%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  70%   {
    left: -62%;
    top: -16%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
}

@keyframes to-back-2 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
  30%   {
    left: 120%;
    top: 32%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  70%   {
    left: 120%;
    top: 32%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
}

.about--sat-2-in {
  animation: to-front-2;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.about--sat-2-out {
  animation: to-back-2;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.about--sat-3 {
  background-color: var(--color-sat-3);
}

@keyframes to-front-3 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
  30%   {
    left: -45%;
    top: 88%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  70%   {
    left: -45%;
    top: 88%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
}

@keyframes to-back-3 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
  30%   {
    left: 88%;
    top: -45%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  70%   {
    left: 88%;
    top: -45%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
}

.about--sat-3-in {
  animation: to-front-3;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.about--sat-3-out {
  animation: to-back-3;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.about--sat-4 {
  background-color: var(--color-sat-4);
}

@keyframes to-front-4 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
  30%   {
    left: 32%;
    top: 120%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  70%   {
    left: 32%;
    top: 120%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
}

@keyframes to-back-4 {
  0%   {
    left: 30%;
    top: 30%;
    transform: scale(2);
    z-index: 2;
    filter: brightness(100%);
  }
  30%   {
    left: -16%;
    top: -62%;
    transform: scale(1.8);
    z-index: 2;
    filter: brightness(80%);
  }
  70%   {
    left: -16%;
    top: -62%;
    transform: scale(1.1);
    z-index: 0;
    filter: brightness(60%);
  }
  100%   {
    left: 30%;
    top: 30%;
    transform: scale(1);
    z-index: 0;
    filter: brightness(50%);
  }
}

.about--sat-4-in {
  animation: to-front-4;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.about--sat-4-out {
  animation: to-back-4;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}


/* SATELLITE CONTENT */


.about__satellite-slide {
  position: relative;
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  transition: transform 400ms ease-out;
  background: radial-gradient(
    circle at 10% 50%,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.5) 5%,
    rgba(255, 255, 255, 0.2) 20%,
    transparent 40%
    );
}

.about__satellite-slide:hover {
  transform: translateX(-50%);
}

.about__logo-container {
  position: relative;
  height: 100%;
  width: 50%;
  padding: 3%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__project-logo {
  max-width:100%;
  max-height:100%;
  position: relative;
  object-fit: contain;
}

.about__project-info {
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 50%;
}

.about__project-text {
  width: 80%;
  padding-top: 1rem;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 1rem;
}

.about__project-link {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  position: relative;
  padding: 0.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  transition: background 400ms ease-out;
}

.about__project-link:hover {
  font-size: bolder;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-height: 450px) {
  .about__planet-group {
      margin-top: 10vh;
    }
  .about__project-link {
      margin-top: 0.5rem
    }
  .about__project-text {
    width: 90%;
    padding-top: 1.5rem;
  }
  .about--sat-4 .about__project-text,
  .about--sat-2 .about__project-text {
    font-size: 0.8rem;
  }
}

/* TRANSITION SECTION */

.transition {
  height: 440vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    var(--color-sky-03) 0%,
    var(--color-sky-04) 100%
    );
  position: relative;
  overflow: visible;
}

.transition__sticky-figure-scrolling {
  overflow: visible;
  position: relative;
  height: 150vh;
  width: 100%;
}

.transition__sticky-figure-container {
  height: 50vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.transition__figure {
  font-size: 10vw;
  width: 70%;
  text-align: center;
  position: relative;
  margin-top: 20vh;
}

.transition__figure-explanation {
  width: 50%;
  text-align: center;
  font-size: 3rem;
}

.transition__sticky-text-scrolling {
  overflow: visible;
  position: relative;
  height: 290vh;
  width: 100%;
}

.transition__sticky-text-container {
  height: 120vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.transition__paragraph {
  position: absolute;
  font-size: 3rem;
  top: 15vh;
  left: 25%;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 3rem;
}

.transition__cloud-1,
.transition__cloud-2,
.transition__cloud-3 {
  position: absolute;
}

.transition__cloud-1 {
  width: 35vw;
  top: 13vh;
  left: 20vw;
}

.transition__cloud-2 {
  width: 35vw;
  top: 20vh;
  left: 50vw;
}

.transition__cloud-3 {
  width: 20vw;
  top: 35vh;
  left: 40vw;
}

.transition__first-quote-container {
  position: absolute;
  top: 100vh;
  left: 7vw;
  width: 80vw;
}

.transition__first-quote-text {
  position: relative;
  text-align: center;
  width: auto;
  font-size: 3.5rem;
}

.transition__first-quote--relevant {
  display: inline-block;
}

.transition__first-quote-author,
.transition__second-quote-author {
  position: relative;
  width: 100%;
  font-weight: 700;
  text-align: right;
}

.transition__first-quote-author {
  padding-right: 15vw;
  margin-top: 3vh;
}

.transition__second-quote-container{
  position: absolute;
  top: 108vh;
  left: 30%;
  width: 40%;
  height: auto;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.transition__second-quote-text {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem;
}

.transition__second-quote-text > span {
  font-weight: 700;
}

.transition__second-quote-author {
  margin-top: 1vh;
}

@media (max-width: 1200px) {
  .transition__paragraph {
    font-size: 2.5rem;
    width: 65%;
    left: 17.5%;
  }
  .transition__second-quote-container {
    width: 60%;
    left: 20%;
  }
}

@media (max-width: 1050px) {
  .transition__paragraph {
    top: 15vh;
  }
  .transition__first-quote-container {
    left: 7%;
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .transition__figure-explanation {
    font-size: 2.5rem;
  }
  .transition__paragraph {
    font-size: 2rem;
  }
  .transition__cloud-1 {
    top: 5vh;
    left: 15vw;
  }
  .transition__cloud-2 {
    top: 15vh;
    left: 55vw;
  }
  .transition__cloud-3 {
    top: 20vh;
    left: 30vw;
  }
  .transition__first-quote-container {
    left: 6%;
    width: 80vw;
  }
  .transition__first-quote-text {
    font-size: 3rem;
  }
  .transition__first-quote-author {
    padding-right: 5vw;
  }
  .transition__second-quote-container {
      width: 70vw;
      left: 15%;
  }
}

@media (max-width: 600px) {
  .transition__sticky-figure-container {
    height: 40vh;
  }
  .transition__figure {
    font-size: 15vw;
    width: 90%;
  }
  .transition__figure-explanation {
    width: 85%;
    font-size: 2.5rem;
  }
  .transition__paragraph {
    width: 85%;
    left: 7.5%;
    top: 20vh;
  }
  .transition__cloud-1 {
    top: 15vh;
    left: 15vw;
  }
  .transition__cloud-2 {
    top: 20vh;
    left: 60vw;
  }
  .transition__cloud-3 {
    top: 32vh;
    left: 30vw;
  }
  .transition__first-quote-container {
    left: 6%;
    width: 85%;
  }
  .transition__first-quote-text {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transition__first-quote-author {
    padding-right: 5vw;
    width: 100%;
  }
  .transition__second-quote-container {
    width: 90vw;
    left: 5%;
  }
}

@media (max-width: 450px) {
  .transition__paragraph {
    top: 20vh;
  }
  .transition__cloud-1 {
    top: 30vh;
  }
  .transition__cloud-2 {
    top: 35vh;
  }
  .transition__cloud-3 {
    top: 45vh;
    left: 30vw;
  }
  .transition__first-quote-text {
    font-size: 3.25rem;
  }
  .transition__quote-middle {
    position: relative;
    left: -5%;
  }
  .transition__first-quote-author {
    width: 70%;
    margin-left: 15vw;
    text-align: center;
  }
  .transition__second-quote-container {
    top: 112vh;
    left: 5%;
  }
}


@media (max-height: 450px) {
  .transition__sticky-figure-container {
    height: 60vh;
  }
  .transition__figure-explanation {
    width: 85%;
    font-size: 2rem;
  }
  .transition__paragraph {
    width: 85%;
    left: 7.5%
  }
  .transition__cloud-1 {
    top: 10vh;
    left: 15vw;
  }
  .transition__cloud-2 {
    left: 60vw;
  }
  .transition__cloud-3 {
    left: 20vw;
  }
  .transition__first-quote-container {
    width: 90vw;
    left: 4%;
  }
  .transition__first-quote-author {
    padding-right: 5vw;
  }
  .transition__second-quote-container {
    width: 80vw;
    left: 17%;
    top: 115vh;
  }
  .transition__second-quote-author {
    text-align: center;
  }
  .transition__sticky-text-container {
    height: 140vh;
  }
  .transition__sticky-text-scrolling {
    height: 330vh;
  }
  .transition {
    height: 470vh;
  }
}

/* CAROUSEL SECTION */

/* CONTAINER */

.carousel-container {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to bottom,
    var(--color-sky-04) 0%,
    var(--color-sky-05) 100%
    );
  position: relative;
  overflow: visible;
}

.carousel__sticky-content-scrolling {
  width: 100%;
  height: 200vh;
  position: relative;
  overflow: visible;
}

.carousel__sticky-content-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  overflow: hidden;
}

.carousel__sticky-slider {
  width: 200%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 0;
  display: flex;
}

.carousel__background {
  position: absolute;
  top: 0;
  left: 50%;
  max-height: 100%;
  width: auto;
  z-index: 0;
}

/* CAROUSEL */

.carousel {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 45%;
  top: 0;
  z-index: 3;
}

.carousel__slides-container {
  width: 50%;
  height: 50%;
  position: relative;
  left: 25%;
  top: 15%;
  border-radius: 20px;
  border: 8px solid #FE90B4;
  overflow: hidden;
  background: repeating-linear-gradient(
    to bottom,
    var(--color-sky-01),
    var(--color-sky-01) 1px,
    var(--color-sky-02) 1px,
    var(--color-sky-02) 2px
  )
}

.carousel__btn {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  font-family: 'Press Start 2P', cursive;
  color: var(--color-arcade-text);
  text-shadow: 0 0 3px var(--color-arcade-text);
  background: transparent;
}

.carousel__btn:hover {
  color: var(--color-arcade-hover);
  text-shadow: 0 0 3px var(--color-arcade-hover);
}

.carousel__btn--backward,
.carousel__btn--forward {
  font-size: 5vw;
  text-align: center;
  line-height: 2vw;
  padding-bottom: 0.5vw;
  width: 5vw;
  height: 5vw;
  transform: translateY(-50%);
  border: none;
}


.carousel__btn--backward {
  left: 25%;
  top: 40%;
}

.carousel__btn--forward {
  left: 70.5%;
  top: 40%;
}

.carousel__btn--play {
  font-size: 3rem;
  padding: 0.5rem;
  border: 1px solid var(--color-arcade-text);
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
}

.carousel__btn--play:hover {
  border-bottom: 1px solid var(--color-arcade-hover);
}

@media (max-width: 1200px) {
  .carousel__slides-container {
    width: 70%;
    height: 50%;
    left: 30%;
  }
  .carousel__btn--backward {
    left: 32%;
  }
  .carousel__btn--forward {
    left: 94%;
  }
  .carousel__btn--play {
    left: 65%;
  }
}

@media (max-width: 800px) {
  .carousel__slides-container {
    width: 80%;
    left: 35%;
  }
  .carousel__btn--backward {
    left: 37%;
  }
  .carousel__background {
    left: 40%;
  }
  .carousel__btn--forward {
    left: 110%;
  }
  .carousel__btn--play {
    left: 75%;
  }
}

@media (max-width: 600px) {
  .carousel__slides-container {
    width: 95%;
    left: 25%;
  }
  .carousel__btn--backward {
    left: 26%;
  }
  .carousel__background {
    left: 30%;
  }
  .carousel__btn--forward {
    left: 115%;
  }
  .carousel__btn--play {
    left: 72%;
    top: 57%;
  }
}

@media (max-width: 450px) {
  .carousel__sticky-slider {
    height: 100%;
    top: 0;
  }
  .carousel {
    left: 50%;
  }
  .carousel__background {
    left: -5%;
  }
  .carousel__slides-container {
    width: 97%;
    height: 75%;
    left: 5%;
    top: 5%;
    border: 4px solid #FE90B4;
  }
  .carousel__btn--backward,
  .carousel__btn--forward {
    font-size: 10vw;
    line-height: 4vw;
    padding-bottom: 1vw;
    width: 10vw;
    height: 10vw;
  }
  .carousel__btn--backward {
    left: 7%;
    top: 40%;
  }
  .carousel__btn--forward {
    left: 92%;
    top: 40%;
  }
  .carousel__btn--play {
    font-size: 2.5rem;
    padding: 0.5rem;
    left: 53%;
    top: 70%;
    transform: translateX(-50%);
  }
}

@media (max-height: 450px) {
  .carousel__sticky-slider {
    height: 100%;
    top: 0;
  }
  .carousel__background {
    left: 45%;
  }
  .carousel__slides-container {
    width: 90%;
    height: 80%;
    left: 10%;
    top: 0;
    border: 4px solid #FE90B4;
  }
  .carousel__btn--backward,
  .carousel__btn--forward {
    font-size: 7vw;
    line-height: 3vw;
    padding-bottom: 1vw;
    width: 7vw;
    height: 7vw;
  }

  .carousel__btn--backward {
    left: 12%;
    top: 40%;
  }

  .carousel__btn--forward {
    left: 92%;
    top: 40%;
  }

  .carousel__btn--play {
    font-size: 2.5rem;
    padding: 0.5rem;
    left: 53%;
    top: 65%;
    transform: translateX(-50%);
  }
}

/* SLIDES CONTENT */

.carousel__slide {
  position: absolute;
  width: 100%;
  height: calc(100% + 1.5px);
  padding-bottom: 7%;
  transition-property: left;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  background: repeating-linear-gradient(
    to bottom,
    var(--color-sky-01),
    var(--color-sky-01) 1px,
    var(--color-sky-02) 1px,
    var(--color-sky-02) 2px
  )
}

.carousel__slide-title {
  position: relative;
  max-width: 70%;
  color: var(--color-arcade-text);
  text-shadow: 0 0 3px var(--color-arcade-text);
  border-bottom: 1px solid var(--color-arcade-text);
  text-align: center;
  opacity: 1;
  text-transform: uppercase;
}

@keyframes blink {
  to   {
    visibility: hidden;
  }
}


.carousel__slide-btn {
  position: relative;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  text-shadow:
    -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
}

.carousel__codewars-grid {
  display: grid;
  width: 65%;
  margin-left: 10%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

@media (max-width: 600px) {
  .carousel__codewars-grid {
    margin-left: 0%;
  }
}


@media (max-width: 450px) {
  .carousel__slide {
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-top: -10%;
  }
  .carousel__slide-title {
    font-size: 2.5rem;
    max-width: 85%;
  }
  .carousel__codewars-grid {
    height: 40%;
    margin-left: -5%;
  }
  .carousel__codewars-grid > p {
    font-size: 1.5rem;
  }
}

@media (max-height: 450px) {
  .carousel__codewars-grid > p {
    font-size: 1.5rem;
  }
}


/* CONTACT SECTION */

.contact {
  width: 100%;
  height: auto;
  padding-top: 15vh;
  background-color: var(--color-sky-05);
  position: relative;
  overflow: visible;
}

.contact__sticky-content-scrolling {
  width: 100%;
  height: 160vh;
  position: relative;
  overflow: visible;
}

.contact-sticky-content-container {
  width: 100%;
  height: auto;
  padding-top: 10vh;
  position: sticky;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact__text {
  color: var(--color-sky-03);
  max-width: 50%;
  height: auto;
  padding: 3rem;
  text-align: center;
}

.contact__flex-container {
  margin-top: 5vh;
  width: 100%;
  position: relative;
}

.contact__flex {
  min-width: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact__link {
  min-width: 20rem;
  height: 5rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  margin: 1rem 2.5rem 1rem 2.5rem;
  background: white;
  color: black;
  transition: background 400ms ease-out;
}

.contact__link:hover {
  color: white;
  background: var(--color-sky-04-opacity);
  border: 2px solid var(--color-sky-04);
  font-weight: 700;
}

.contact__link--wa-mobile,
.contact__link--wa-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.contact__link--wa-desktop {
  z-index: 1;
  visibility: visible;
}

.contact__link--wa-mobile {
  z-index: 0;
  visibility: hidden;
}

@media (max-width: 600px) {
  .contact__text {
    max-width: 80%;
  }
}

@media (max-width: 450px) {
  .contact-sticky-content-container {
    z-index: 5;
  }
  .contact__link--wa-desktop {
    z-index: 0;
    visibility: hidden;
  }

  .contact__link--wa-mobile {
    z-index: 5;
    visibility: visible;
  }
  .contact__text {
    max-width: 80%;
  }
  .contact__title {
    font-size: 4rem;
  }
}

@media (max-height: 450px) {
  .contact__flex-container {
    margin-top: 0;
  }
  .contact-sticky-content-container {
    z-index: 5;
  }
  .contact__text {
    max-width: 80%;
    margin-bottom: 5vh;
  }
  .contact__title {
    font-size: 4rem;
  }
  .contact__link--wa-desktop {
    z-index: 0;
    visibility: hidden;
  }

  .contact__link--wa-mobile {
    z-index: 5;
    visibility: visible;
  }
}

/* FOOTER*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  background-color: transparent;
  color: white;
  text-align: right;
  padding-right: 4rem;
  padding-top: 2rem;
  background-image: url('/img/background/footer.png');
  background-size: auto 40vh;
  background-repeat: repeat-x;
  background-position: center;
  overflow-x: hidden;
  z-index: 0;
}

.footer__coral {
  position: absolute;
  bottom: 12%;
  height: 30%;
  width: auto;
}

.footer--coral-1 {
  left: 40%;
}

.footer--coral-2 {
  left: 75%;
}

/* .footer__huan-container {
  position: absolute;
  top: 27%;
  left: -7vh;
  height: 6vh;
  width: 6vh;
  width: auto;
  animation: swim-right 10s linear infinite;
} */

.footer__jellyfish-container {
  position: absolute;
  top: 30%;
  left: 105%;
  height: 8vh;
  width: 8vh;
  width: auto;
  animation: swim-left 15s linear infinite;
}

/* .footer__huan, */
.footer__jellyfish {
  object-fit: contain;
  max-height: 100%;
}

.footer__jellyfish {
  animation: swim-jump 1s linear infinite;
}

/* .footer__huan {
  animation: swim-down 5s linear infinite;
}

@keyframes swim-right {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(120vw, 0px, 0px);
	}
} */

@keyframes swim-left {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(-120vw, 0px, 0px);
	}
}


@keyframes swim-jump {
  from {
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		transform: translate3d(0px, 2vh, 0px);
	}
}

/* @keyframes swim-down {
  0% {
		transform: translate3d(0px, 0px, 0px);
	}
	50% {
		transform: translate3d(0px, 20vh, 0px);
	}
  100% {
		transform: translate3d(0px, 0vh, 0px);
	}
} */


@media (max-height: 450px) {
  .footer {
    z-index: 0;
    padding-right: 1rem;
  }
}

@media (max-width: 800px) {
  .footer--coral-2 {
    opacity: 0;
  }
}

@media (max-width: 450px) {
  .footer {
    padding-right: 1rem;
    z-index: 0;
  }
}


/* UNEXPECTED ELEMENTS */

.unexpected__whale-container {
  position: fixed;
  top: 10vh;
  left: 8vw;
  width: 4vw;
  height: 4vw;
  z-index: 1;
  opacity: 0;
}

.unexpected__flower-container {
  position: fixed;
  top: 3vh;
  left: 4vw;
  width: 1vw;
  height: 1vw;
  z-index: 1;
  opacity: 0;
}

.unexpected__flower,
.unexpected__whale {
  object-fit: contain;
  object-position: bottom;
  max-width: 100%;
  opacity: 0.15;
}

@media (max-width: 450px) {
  .unexpected__flower-container {
    width: 2vw;
    height: 2vw;
    top: 8vh;
  }
  .unexpected__whale-container {
    width: 7vw;
    height: 7vw;
    top: 15vh;
  }
}
